.banner {
    .banner__image {
        width: 100%;
        border-radius: $border-radius;
        box-shadow: $border-shadow;
    }
}

.more-info {
    margin-top: 30px;
    font-weight: bold;
    @include respond-to('xs') {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    @include respond-to('sm') {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    &__link {
        color: $title-color;
        font-size: 16px;
        text-transform: uppercase;
        i {
            padding-left: 5px;
            color: $attention-color;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.btn-box {
    &__title {
        margin-top: 0px;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: bold;
        color: $attention-color;
        text-align: center;
        text-transform: uppercase;
    }
    &__btn-list {
        width: 400px;
        margin: 0 auto;
        text-align: center;
        @include respond-to('xs') {
            width: 300px;
        }
    }
}

.read-more {
    margin: 60px 0;
    position: relative;
    padding: 10px 0;
    @include respond-to('xs') {
        margin: 35px 0;
    }
    &__line {
        height: 1px;
        margin-bottom: 7px;
        background-color: $border-color;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__btn-wrap {
        width: 150px;
        position: absolute;
        left: 50%;
        top: -5px;
        margin-left: -75px; 
        background-color: $content-color;
        text-align: center;
    }
    &__btn {
        background-color: $attention-color;
        color: $content-color;
        font-size: 16px;
        text-transform: uppercase;
    }
    &--last {
        margin-bottom: 40px;
        @include respond-to('xs') {
            margin-bottom: 30px;
        }
    }
}

.picture-box {
    &__image {
        width: 100%;
    }
    &__caption {}
}