//fonts
@font-face {
    font-family: 'SourceSansPro-Black';
    src: url($url-font-black + 'SourceSansPro-Black.eot');
    src: url($url-font-black + 'SourceSansPro-Black.woff') format('woff'), url($url-font-black + 'SourceSansPro-Black.ttf') format('truetype'), url($url-font-black + 'SourceSansPro-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url($url-font-regular + 'SourceSansPro-Regular.eot');
    src: url($url-font-regular + 'SourceSansPro-Regular.woff') format('woff'), url($url-font-regular + 'SourceSansPro-Regular.ttf') format('truetype'), url($url-font-regular + 'SourceSansPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url($url-font-bold + 'SourceSansPro-Bold.eot');
    src: url($url-font-bold + 'SourceSansPro-Bold.woff') format('woff'), url($url-font-bold + 'SourceSansPro-Bold.ttf') format('truetype'), url($url-font-bold + 'SourceSansPro-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}