//variables
$body-margin: 5px;
$content-width: 1230px;
.page {
    min-width: 320px;
    margin: 0 $body-margin * 2;
    background-image: url('../img/bg.jpg');
    font-family: $font-header;
    @include respond-to('xs') {
        margin: 0 $body-margin;
    }
    @include respond-to('sm') {
        margin: 0 $body-margin;
    }
    &__inner {
        width: 100%;
        max-width: $content-width;
        margin: 97px auto 50px auto;
    }
}

.content {
    background-color: $content-bg-color;
    border-radius: $border-radius;
    padding: 26px;
    @include respond-to('xs') {
        padding: 15px;
    }
    @include respond-to('sm') {
        padding: 15px;
    }
}

.header {}

.main {}

.footer {
    padding-top: 30px;
    text-align: center;
    &__text {
        color: $content-color;
    }
    &__link {
        font-size: 16px;
        color: $content-color;
        a:hover {
            color: $title-color;
        }
    }
}